@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gradient1 {
  background: radial-gradient(
    circle at right 45%,
    rgba(68, 21, 179, 0.6) 0%,
    rgba(20, 22, 39, 0) 35%,
    rgba(20, 22, 39, 0) 100%
  );

  animation: gradient1 4s ease-in infinite;
}

.gradient2 {
  background: radial-gradient(
    circle at right 55%,
    rgba(255, 0, 128, 0.6) 0%,
    rgba(20, 22, 39, 0) 35%,
    rgba(20, 22, 39, 0) 100%
  );

  animation: gradient2 4s ease-in infinite;
}

@keyframes gradient1 {
  0% {
    background-position: 0% -50px;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% -50px;
  }
}

@keyframes gradient2 {
  0% {
    background-position: 0% 50px;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 50px;
  }
}

nav::after {
  @apply h-full w-px block content-[''];
  background: radial-gradient(
    circle,
    rgb(136, 135, 136) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.comment:not(:last-child):after {
  @apply h-px w-full block content-[''];

  background: radial-gradient(
    circle,
    rgb(136, 135, 136) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.card {
  @apply relative border-none flex items-center justify-center bg-black/10 group-hover:before:opacity-100;
  @apply before:absolute before:pointer-events-none before:left-0 before:top-0 before:z-[1] before:h-full before:w-full before:rounded-lg before:opacity-0 before:transition-opacity before:duration-500 before:content-[''];
  @apply after:absolute after:pointer-events-none after:left-0 after:top-0 after:z-[3] after:h-full after:w-full after:rounded-lg after:opacity-0 after:transition-opacity after:duration-500 after:content-[''] after:hover:opacity-100;
}

.card::before {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgb(136, 135, 136),
    transparent 40%
  );
}

.card::after {
  background: radial-gradient(
    1000px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 0, 128, 0.06) 0%,
    rgba(20, 22, 39, 0) 50%,
    rgba(20, 22, 39, 0) 100%,
    transparent 40%
  );
}

.card-content {
  @apply relative m-px z-[2] flex grow flex-col justify-center rounded-lg bg-[#1C1F36];
}
